@model ViewModel
<div class="row">
    <div class="col">
<h1>@ViewBag.name</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h4>Products:</h4>
        <br>
        <ul>
            @{foreach(Product product in @Model.usedProducts){
            <li>@product.name</li>
            }
        }
        </ul>
    </div>
  
    <div class="col">
        <form asp-action="catToProduct" method="POST">
            <div class="form-group">
                <label name="product">Add Product:</label>
                <select class="form-control" id="Product" asp-for="Joins.ProductId">
                    <option selected disabled>Select a product</option>
                    @{foreach(Product product in @Model.unusedProducts){
                            <option value="@product.ProductId">@product.name</option>
                        }
                    }
                </select>
                <input type="hidden" value="@ViewBag.CategoryId" id="Category" asp-for="Joins.CategoryId">
            </div>
            <button type="submit" class="btn btn-secondary">Add</button>
        </form>
    </div>
</div>

